* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 1% 0 2%;
    font-size: 2rem;
    font-weight: 100;
}

#radios {
    position: relative;
    width: 25%;
    margin: 0 auto;
}

input #input1 {
    width: 10%
}

input[type="radio"] {
    position: absolute;
    right: 1000%;
}

label {
    float: left;
    width: 15%;
    padding-bottom: 15%;
    margin: 0 2.5%;
    background: rgba(255, 255, 255, .2);
    border-radius: 100%;
    cursor: pointer;
}

#slider {
    position: absolute;
    left: 0%;
    top: 0;
    width: 10%;
    padding-bottom: 10%;
    margin: 2.5% 0 0 5%;
    background: #fff;
    transition: transform 1s;
    border-radius: 50%;
    animation-timing-function: ease-in-out;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    transition: 0.2s left .05s ease-in-out;
}

#input1:checked~#slider {
    animation-name: input1;
    left: 0;
}

#input2:checked~#slider {
    animation-name: input2;
    left: 20%;
}

#input3:checked~#slider {
    animation-name: input3;
    left: 40%;
}

#input4:checked~#slider {
    animation-name: input4;
    left: 60%;
}

#input5:checked~#slider {
    animation-name: input5;
    left: 80%;
}

@keyframes input1 {

    30%,
    70% {
        transform: scale(0.5);
    }
}

@keyframes input2 {

    30%,
    70% {
        transform: scale(0.5);
    }
}

@keyframes input3 {

    30%,
    70% {
        transform: scale(0.5);
    }
}

@keyframes input4 {

    30%,
    70% {
        transform: scale(0.5);
    }
}

@keyframes input5 {

    30%,
    70% {
        transform: scale(0.5);
    }
}

.btn {
    display: block;
    background: var(--color-white);
    color: var(--color-black);
    margin-left: 45%;
    margin-right: 45%;
    border: 1px solid transparent;
    font-weight: 500;
    border-radius: 3rem;
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}